<nz-layout>
  <nz-header>
    <ul
      nz-menu
      nzTheme="dark"
      nz-flex
      nzJustify="space-between"
      nzMode="horizontal"
    >
      @if (brands.isLoading()) {
        <nz-spin nzSimple nzSize="small"></nz-spin>
      } @else {
        <li nz-menu-item routerLink [queryParams]="{}">All</li>
        @for (item of brands.value(); track $index) {
          <li
            nz-menu-item
            routerLink
            [queryParams]="{ brand: item }"
            queryParamsHandling="merge"
          >
            {{ item }}
          </li>
        }
      }
    </ul>
  </nz-header>
  <nz-content>
    <div class="second-nav" nz-flex nzJustify="space-between">
      <nz-radio-group [ngModel]="category()?.name" nzButtonStyle="solid">
        @for (item of categories.value(); track $index) {
          <label
            routerLink
            [queryParams]="{ category_id: item.id }"
            queryParamsHandling="merge"
            nz-radio-button
            [nzValue]="item.name"
            >{{ item.name }}</label
          >
        }
      </nz-radio-group>
      <nz-button-group> </nz-button-group>
      <nz-pagination
        (nzPageSizeChange)="onPageSizeChange($event)"
        (nzPageIndexChange)="onPageIndexChange($event)"
        [nzPageIndex]="page_index()"
        [nzTotal]="totalProducts.value()?.total"
        nzShowSizeChanger
        [nzPageSize]="page_size()"
      ></nz-pagination>
    </div>
    <div
      class="inner-content container"
      nz-flex
      nzJustify="space-around"
      nzWrap="wrap"
      nzGap="middle"
    >
      @if (totalProducts.isLoading()) {
        <nz-spin nzSimple nzSize="large"></nz-spin>
      } @else {
        @for (item of totalProducts.value()?.products; track $index) {
          <div [routerLink]="['/product-details', item._id]">
            <nz-card nzHoverable style="width: 240px" [nzCover]="coverTemplate">
              <nz-card-meta
                [nzTitle]="item.title"
                [nzDescription]="item.description"
              ></nz-card-meta>
              <p>{{ item.price.current }}</p>
            </nz-card>
            <ng-template #coverTemplate>
              <img [src]="!item.images[0] ? noImage() : item.images[0]" />
            </ng-template>
          </div>
        } @empty {
          <nz-empty [nzNotFoundContent]="'არ არის ინფორმაცია'"></nz-empty>
        }
      }
    </div>
    <br />
    <nz-pagination
      (nzPageSizeChange)="onPageSizeChange($event)"
      (nzPageIndexChange)="onPageIndexChange($event)"
      [nzPageIndex]="page_index()"
      [nzTotal]="totalProducts.value()?.total"
      nzShowSizeChanger
      [nzPageSize]="page_size()"
    ></nz-pagination>
  </nz-content>
</nz-layout>
