<section class="banner"></section>
<div class="content_layout row w-100 flex-column flex-md-row">
  <div class="side-filter col col-md-3">
    <nz-divider nzText="Brands"></nz-divider>
    @if (!brands.isLoading()) {
      <ul class="brands-list p-0">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink
          [queryParams]="{ brand: null }"
          queryParamsHandling="merge"
        >
          All
          <nz-icon nzType="product" nzTheme="outline" />
        </li>
        @for (item of brands.value(); track $index) {
          <li
            routerLink
            routerLinkActive="active"
            [queryParams]="{ brand: item }"
            queryParamsHandling="merge"
          >
            {{ item }}
          </li>
        }
      </ul>
      <form [formGroup]="filterForm">
        <nz-divider nzText="Search"></nz-divider>
        <nz-form-item>
          <nz-form-control>
            <input formControlName="keywords" nz-input type="text" />
          </nz-form-control>
        </nz-form-item>
        <nz-divider nzText="Select Price"></nz-divider>
        <nz-form-item nzJustify="space-between" nzAlign="middle">
          <nz-form-control nzSpan="11">
            <input
              formControlName="price_min"
              nz-input
              type="number"
              placeholder="from"
            />
          </nz-form-control>
          -
          <nz-form-control nzSpan="11">
            <input
              formControlName="price_max"
              nz-input
              type="number"
              placeholder="to"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-divider nzText="Rating"></nz-divider>
        <nz-form-item>
          <nz-form-control>
            <nz-rate
              formControlName="rating"
              class="d-flex justify-content-center"
            ></nz-rate>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="w-100" nzJustify="space-around">
          <button
            (click)="onFormFilter()"
            nz-button
            nzSize="large"
            nzType="primary"
          >
            Filter
          </button>
          <button
            nzSize="large"
            nz-button
            routerLink
            [queryParams]="{}"
            nzType="default"
          >
            Clear
          </button>
        </nz-form-item>
      </form>
    }
  </div>

  <main class="content">
    @if (totalProducts.isLoading()) {
      <!-- <nz-spin nzSize="large"></nz-spin> -->
    } @else {
      <div
        class="cards_container h-100 justify-content-center"
        [class.align-items-center]="!totalProducts.value()?.total"
      >
        @for (item of totalProductsComputed().products; track $index) {
          <nz-card
            nzHoverable
            (click)="detailPage(item._id)"
            [nzCover]="coverTemplate"
          >
            <nz-card-meta
              [nzDescription]="description"
              [nzTitle]="item.title"
            ></nz-card-meta>
            <div class="d-flex flex-column justify-content-between h-100">
              <ng-template #description>
                <p class="card-body-custom">
                  {{ item.description.slice(1, 100) + "..." }}
                </p>
                <p class="text-success">{{ item.price.current }} $</p>
                @if (item.price.current != item.price.beforeDiscount) {
                  <small class="text-decoration-line-through text-danger"
                    >{{ item.price.beforeDiscount }}$</small
                  >
                }
                <br />
                @if (isAuthenticated()) {
                  <div class="d-flex gap-2">
                    <nz-input-number
                      [(ngModel)]="item.quantity"
                      name="quantity"
                      (click)="$event.stopPropagation()"
                      nzMin="1"
                      nzMax="10"
                    />
                    <button
                      (click)="
                        addToCart(item._id, item.quantity);
                        $event.stopPropagation()
                      "
                      class="cardBtn btn btn-success"
                    >
                      Add
                      <nz-icon nzType="shopping-cart" nzTheme="outline" />
                    </button>
                  </div>
                }
              </ng-template>
            </div>
          </nz-card>
          <ng-template #coverTemplate class="position-realtive">
            @if (item.price.discountPercentage) {
              <div class="position-absolute d-flex justify-content-end">
                <span class="discount-span bg-danger">
                  {{ item.price.discountPercentage }}% SALE!!!
                </span>
              </div>
            }
            <img alt="example" [src]="item.images[0]" />
          </ng-template>
        } @empty {
          <nz-empty [nzNotFoundContent]="'არ არის ინფორმაცია'"></nz-empty>
        }
      </div>
    }
    <nz-pagination
      (nzPageSizeChange)="onPageSizeChange($event)"
      (nzPageIndexChange)="onPageIndexChange($event)"
      [nzPageIndex]="pageIndex()"
      [nzTotal]="totalProducts.value()?.total"
      nzShowSizeChanger
      [nzPageSize]="pageSize()"
    ></nz-pagination>
  </main>

  <!--<div class="second-nav">-->
  <!--  <nz-radio-group [ngModel]="category()?.name" nzButtonStyle="solid">-->
  <!--    @for (item of categories.value(); track $index) {-->
  <!--      <label-->
  <!--        routerLink-->
  <!--        [queryParams]="{ category_id: item.id }"-->
  <!--        queryParamsHandling="merge"-->
  <!--        nz-radio-button-->
  <!--        [nzValue]="item.name"-->
  <!--        >{{ item.name }}</label-->
  <!--      >-->
  <!--    }-->
  <!--  </nz-radio-group>-->
  <!--  <nz-button-group> </nz-button-group>-->
  <!--  <nz-pagination-->
  <!--    (nzPageSizeChange)="onPageSizeChange($event)"-->
  <!--    (nzPageIndexChange)="onPageIndexChange($event)"-->
  <!--    [nzPageIndex]="page_index()"-->
  <!--    [nzTotal]="totalProducts.value()?.total"-->
  <!--    nzShowSizeChanger-->
  <!--    [nzPageSize]="page_size()"-->
  <!--  ></nz-pagination>-->
  <!--</div>-->
</div>
